My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1040,
        -384
      ],
      "id": "9c813ac3-ca47-442f-b6ae-c08d5a5b9b5d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o",
          "mode": "list",
          "cachedResultName": "Student",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        -384
      ],
      "id": "3ec7fda9-edd7-4303-90cb-4f1cfcc6184c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cAWvoYCqISlSZL5c",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('If').item.json.Email }}",
        "subject": "Thoorigai Infotech - Follow-up Reminder",
        "message": "=<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:1.6;color:#333;\">\n\n<p>\n{{\n$('Message a model').item.json.output[0].content[0].text\n.replace(/\\r\\n/g,\"\\n\")\n.replace(/\\n\\n+/g,\"</p><p>\")\n.replace(/\\n/g,\"<br>\")\n}}\n</p>\n\n<hr>\n\n<p>\n<b>Contact Us</b><br>\n\n📞 +91 9384134008<br>\n\n📞 +91 9384164008\n</p>\n\n<p>\n\n🌐 Website :\n<a href=\"https://share.google/lREQYIrhrixaFifn7\">\nThoorigai Infotech\n</a>\n\n</p>\n</div>",
        "options": {
          "ccList": ""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -384
      ],
      "id": "5a19c585-2802-4f02-807c-e5786c29daea",
      "name": "Send a message",
      "webhookId": "0aa0e492-f181-419a-aed7-4919d0761fbb",
      "credentials": {
        "gmailOAuth2": {
          "id": "bpaDG9Ht4ztIlMgh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.Prompt }}"
            },
            {
              "role": "system"
            }
          ]
        },
        "simplify": "={{ true }}",
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -160,
        -384
      ],
      "id": "7c4a1638-0c98-425a-b951-324d717438fd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "d7uRNh3ADHE7lvkc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  // -----------------------------\n  // Function to parse DD/MM/YYYY\n  // -----------------------------\n  function parseDate(dateStr) {\n\n    if (!dateStr) return null;\n\n    // If already a Date object\n    if (dateStr instanceof Date) {\n      dateStr.setHours(0,0,0,0);\n      return dateStr;\n    }\n\n    const text = String(dateStr).trim();\n\n    // DD/MM/YYYY\n    if (text.includes(\"/\")) {\n\n      const parts = text.split(\"/\");\n\n      if (parts.length === 3) {\n\n        const day = Number(parts[0]);\n        const month = Number(parts[1]) - 1;\n        const year = Number(parts[2]);\n\n        const date = new Date(year, month, day);\n        date.setHours(0,0,0,0);\n\n        return date;\n      }\n    }\n\n    // Other formats\n    const date = new Date(text);\n\n    if (isNaN(date)) return null;\n\n    date.setHours(0,0,0,0);\n\n    return date;\n  }\n\n  // -----------------------------\n  // Today's Date\n  // -----------------------------\n  const today = new Date();\n  today.setHours(0,0,0,0);\n\n  const name = item.json.Name;\n  const email = item.json.Email;\n  const status = (item.json.Status || \"\").toLowerCase();\n\n  const followUpDate = parseDate(item.json[\"Follow-up Date\"]);\n  const batchDate = parseDate(item.json[\"Batch Date\"]);\n  const lastReminder = parseDate(item.json[\"Last Reminder Date\"]);\n\n  const reminderCount = Number(item.json[\"Reminder Count\"] || 0);\n\n  let needReminder = false;\n  let prompt = \"\";\n\n  // -----------------------------\n  // CASE 1\n  // First Follow-up\n  // -----------------------------\n  if (\n    followUpDate &&\n    followUpDate.getTime() === today.getTime() &&\n    !status.includes(\"joined\")\n  ) {\n\n    needReminder = true;\n\n    prompt = `You are Thoorigai AI, the official AI assistant of Thoorigai Infotech.\n\nGenerate ONLY the email body.\n\nDo NOT use markdown.\nDo NOT use bullet symbols unless required.\nKeep paragraphs short.\nLeave exactly ONE blank line between paragraphs.\nDo NOT insert unnecessary blank lines.\n\nFormat exactly like this:\n\nHi ${name},\n\nHope you're doing well!\n\nWe wanted to follow up regarding your current admission status: \"${item.json.Status}\".\n\nIf you have any questions or need any assistance, please feel free to reply to this email or contact us anytime.\n\nWe look forward to hearing from you.\n\nRegards,\nThoorigai AI\nThoorigai Infotech`;\n  }   \n\n  // -----------------------------\n  // CASE 2\n  // Every 2 Days Reminder\n  // -----------------------------\n  else if (\n    lastReminder &&\n    reminderCount < 14 &&\n    !status.includes(\"joined\")\n  ) {\n\n    const diffDays = Math.floor(\n      (today.getTime() - lastReminder.getTime()) /\n      (1000 * 60 * 60 * 24)\n    );\n\n    if (diffDays >= 2) {\n\n      needReminder = true;\nprompt = `You are Thoorigai AI, the official AI assistant of Thoorigai Infotech.\n\nGenerate ONLY the email body.\n\nDo NOT use markdown.\nDo NOT use unnecessary blank lines.\nKeep paragraphs short.\n\nStudent Name: ${name}\n\nCurrent Status: ${item.json.Status}\n\nThis is a reminder email after the previous follow-up.\n\nWrite a polite follow-up email.\n\nEnd exactly as:\n\nRegards,\nThoorigai AI\nThoorigai Infotech`;\n\n    }\n\n  }\n\n  // -----------------------------\n  // CASE 3\n  // Batch Starts in 2 Days\n  // -----------------------------\n  else if (\n    batchDate &&\n    status.includes(\"joined\")\n  ) {\n\n    const diffDays = Math.floor(\n      (batchDate.getTime() - today.getTime()) /\n      (1000 * 60 * 60 * 24)\n    );\n\n    if (diffDays === 2) {\n\n      needReminder = true;\n\n    prompt = `You are Thoorigai AI, the official AI assistant of Thoorigai Infotech.\n\nGenerate ONLY the email body.\n\nDo NOT use markdown.\nKeep paragraphs short.\nDo NOT insert extra blank lines.\n\nStudent Name: ${name}\n\nThe student has already joined.\n\nInform the student that the batch starts in 2 days.\n\nEnd exactly as:\n\nRegards,\nThoorigai AI\nThoorigai Infotech`;\n\n    }\n\n  }\n\n  return {\n\n    json: {\n\n      ...item.json,\n\n      Name: name,\n      Email: email,\n      Status: item.json.Status,\n\n      NeedReminder: needReminder,\n\n      Prompt: prompt\n\n    }\n\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -384
      ],
      "id": "077364c2-8384-46b3-ab59-46bcc68a36ab",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o",
          "mode": "list",
          "cachedResultName": "Student",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QinJu_Uh1v5sBhRjvK4VfRS26NKVOfIfuRUbKQnli8o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Code in JavaScript').item.json.Email }}",
            "Name": "={{ $('Code in JavaScript').item.json.Name }}",
            "Status": "={{ $('Code in JavaScript').item.json.Status }}",
            "Visiting Date": "={{ $('Code in JavaScript').item.json[\"Visiting Date\"] }}",
            "Batch Date": "={{ $('Code in JavaScript').item.json[\"Batch Date\"] }}",
            "Last Reminder Date": "={{ $now.toFormat('dd/MM/yyyy') }}",
            "Reminder Count": "={{ Number($('Code in JavaScript').item.json[\"Reminder Count\"] || 0) + 1 }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Visiting Date",
              "displayName": "Visiting Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Batch Date",
              "displayName": "Batch Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Reminder Date",
              "displayName": "Last Reminder Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reminder Count",
              "displayName": "Reminder Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -384
      ],
      "id": "bce43237-1e3a-4d4c-83d9-77c5041f5412",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cAWvoYCqISlSZL5c",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d589db63-3cc8-4d49-82ea-80a98000cfa1",
              "leftValue": "={{ $json.NeedReminder === true }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -384
      ],
      "id": "61b4defa-6018-4628-8dbd-7bc25088e0e3",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "158ec981-15b6-4d0d-bf9a-fe9aa4200a2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d105044ffd1f74f8940302a274b0589964715bcc01f7874bf8a93327cbc222ce"
  },
  "nodeGroups": [],
  "id": "HEMHPWgfZGeXecNN",
  "tags": []
}